<div class="shadow d-flex flex-column flex-shrink-0 p-3 ms-4 bg-light col-md-4 col-lg-3 d-md-block bg-light sidebar collapse" style="max-width: 250px; max-height: 220px !important">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to 'Inicio', '/admin', class: class_names('nav-link link-dark', { active: current_page?('/admin') }) %>
      </li>
      <li>
        <%= link_to 'Meios de pagamentos', admin_payment_methods_path, class: class_names('nav-link link-dark', { active: current_page?(admin_payment_methods_path) }) %>
      </li>
      <li>
        <%= link_to 'Pedidos', admin_payments_path, class: class_names('nav-link link-dark', { active: current_page?(admin_payments_path) }) %>
      </li>
    </ul>
  </div>